.App {
}
.image {
  width: 100px;
  margin-left: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items > ul {
  margin-top: 10px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin: 24px;
  font-size: 18px;
}

.card {
  width: 200px;
  /* height: 300px; */
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}
.card:hover {
  border: solid black;
  cursor: pointer;
}

.img {
  width: 100%;
  border-radius: 10px;
  height: 120px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cuisines {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}
.shimmer-card {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}
.search {
  display: flex;
  gap: 10px;
}
.menu {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu-name {
  font-weight: 700;
  font-size: large;
}
.menu-details {
  color: gray;
  font-size: medium;
  font-weight: 500;
}
.menu-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
/* .img-button {
  Basic styling */
/* background-color: black;
  color: white;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  transform: translateY(50%);
  padding: 0.5rem;
  border-radius: 0.25rem;
} */
